@import "variables.less";
@import "elements.less";


/*
Template Name: Flacto Dashboard
Author: CoderThemes
Email: coderthemes@gmail.com
File: Pages
*/

/* =============
  == Pages List==

   - Form Elements
   - Notification
   - Range slider
   - Sweet Alert
   - Charts
   - Maps
   - Account pages

============= */


/* =============
   Form Advanced
============= */
.error {
  color: @danger;
  font-size: 12px;
  font-weight: 500;
}


/* X-Editable */
.editable-click, a.editable-click, a.editable-click:hover{
  border: none;
}

/* Bootstrap tagsinput */
.bootstrap-tagsinput {
  box-shadow: none;
  padding: 3px 7px 3px;
  border: 1px solid darken(@lightdark,15%);
  background-color: transparent;
  width: 100%;

  .label-info {
    background-color: @custom !important;
    display: inline-block;
    padding: 5px;
    margin-bottom: 3px;
  }
}
/* Multiple */
.ms-container {
  background: transparent url('../images/multiple-arrow.png') no-repeat 50% 50%;

  .ms-list {
    box-shadow: none;
    border: 2px solid darken(@lightdark,15%);
  }
  .ms-list.ms-focus {
    box-shadow: none;
    border: 2px solid darken(@lightdark,15%);
  }
  .ms-selectable {
    li.ms-elem-selectable{
      border: none;
      padding: 5px 10px;
    }
    li.ms-hover {
      background-color: @primary;
    }
  }
  .ms-selection {
    background-color: transparent !important;
    li.ms-elem-selection{
      border: none;
      padding: 5px 10px;
    }
    li.ms-hover {
      background-color: @primary;
    }
  }
}
.ms-selectable {
  box-shadow: none;
  outline: none !important;
  background-color: transparent !important;
}


/* Select 2 */
.select2-container {
  .select2-choice {
    background-image: none !important;
    border: none !important;
    height: auto  !important;
    padding: 0 !important;
    line-height: 22px !important;
    background-color: transparent !important;
    box-shadow: none !important;

    .select2-arrow {
      background-image: none !important;
      background: transparent;
      border: none;
      width: 14px;
      right: 5px;
      top: 2px;
    }
  }
  .select2-container-multi.form-control {
    height: auto;
  }
}
.select2-results .select2-highlighted {
  color: @white;
  background-color: @custom;
}
.select2-drop-active {
  border: 1px solid #e3e3e3 !important;
  padding-top: 5px;
  .box-shadow( 0 2px 2px rgba(0, 0, 0, .15));
}
.select2-search {
  input{
    border: 1px solid #e3e3e3;
  }
}
.select2-container-multi {
  width: 100%;

  .select2-choices {
    border: 1px solid darken(@lightdark,15%)  !important;
    box-shadow: none !important;
    background-image: none  !important;
    .border-radius(4px)  !important;
    min-height: 38px;
    background-color: transparent !important;

    .select2-search-choice {
      padding: 4px 7px 4px 18px;
      margin: 7px 0 3px 5px;
      color: @white;
      background: @custom;
      border-color: @custom;
      -webkit-box-shadow: none;
      box-shadow: none;
    }
    .select2-search-field {
      input {
        padding: 7px 7px 7px 10px;
        font-family: inherit;
      }
    }
  }
}
.select2-chosen {
    height: 34px;
    line-height: 34px;
    padding-left: 15px;
}
/* Bootstrap-select */
.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
  width: 100% !important;
}
.bootstrap-select  {
  .dropdown-toggle {
    &:focus {
      outline: none !important;
    }
  }
  .glyphicon {
    padding-right: 6px;
  }
}
/* Form validation */
.parsley-error {
  border-color: @danger !important;
}
.parsley-errors-list {
  display: none;
  margin: 0;
  padding: 0;
}
.parsley-errors-list.filled {
  display: block;
}
.parsley-errors-list > li {
  font-size: 12px;
  list-style: none;
  color: @danger;
}
/* Datepicker */
.datepicker {
  padding: 8px;
  th {
    font-size: 14px !important;
  }
}
.datepicker table tr td.today, .datepicker table tr td.today:hover,
.datepicker table tr td.today.disabled, .datepicker table tr td.today.disabled:hover,
.datepicker table tr td.selected, .datepicker table tr td.selected:hover,
.datepicker table tr td.selected.disabled, .datepicker table tr td.selected.disabled:hover,
.datepicker table tr td span.active, .datepicker table tr td span.active:hover,
.datepicker table tr td span.active.disabled, .datepicker table tr td span.active.disabled:hover {
  background-image: none;
}
.datepicker table tr td span.active:hover, .datepicker table tr td span.active:hover:hover,
.datepicker table tr td span.active.disabled:hover, .datepicker table tr td span.active.disabled:hover:hover,
.datepicker table tr td span.active:active, .datepicker table tr td span.active:hover:active,
.datepicker table tr td span.active.disabled:active, .datepicker table tr td span.active.disabled:hover:active,
.datepicker table tr td span.active.active, .datepicker table tr td span.active:hover.active,
.datepicker table tr td span.active.disabled.active, .datepicker table tr td span.active.disabled:hover.active,
.datepicker table tr td span.active.disabled, .datepicker table tr td span.active:hover.disabled,
.datepicker table tr td span.active.disabled.disabled, .datepicker table tr td span.active.disabled:hover.disabled,
.datepicker table tr td span.active[disabled], .datepicker table tr td span.active:hover[disabled],
.datepicker table tr td span.active.disabled[disabled], .datepicker table tr td span.active.disabled:hover[disabled] {
  background-color: @custom;
}
.datepicker table tr td.active, .datepicker table tr td.active:hover, .datepicker table tr td.active.disabled,
.datepicker table tr td.active.disabled:hover {
  background-color: @custom !important;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
}
.datepicker thead tr:first-child th:hover, .datepicker tfoot tr th:hover{
  background-color: @light-alt;
}
.datepicker-inline {
  border: 2px solid @light;
}
.daterangepicker td.active, .daterangepicker td.active:hover {
    background-color: @primary;
    border-color: @primary;
}
.daterangepicker .input-mini.active {
    border: 1px solid #AAAAAA;
}
.daterangepicker .ranges li {
  .border-radius(2px);
  color: @dark;
  font-weight: 600;
  font-size: 12px;
}
.daterangepicker select.hourselect, .daterangepicker select.minuteselect,
.daterangepicker select.secondselect, .daterangepicker select.ampmselect{
  border: 1px solid #e3e3e3;
  padding: 2px;
  width: 60px;
}
.daterangepicker .ranges li.active, .daterangepicker .ranges li:hover {
  background-color: @primary;
      border: 1px solid @primary;
}


.search-input {
  margin-bottom: 10px;
}


/* Timepicker */
.bootstrap-timepicker-widget {
  table {
    td {
      a {
        &:hover {
          background-color: transparent;
          border-color: transparent;
          border-radius: 4px;
          color: @primary;
          text-decoration: none;
        }
      }
      input {
        border: none;
      }
    }
  }
}



/* Bootstrap-touchSpin */
.bootstrap-touchspin {
  .input-group-btn-vertical {
    .btn {
      padding: 9px 12px;
    }
    i {
      top: 4px;
      left: 8px;
    }
  }
}


/* Form wizard */
.navtab-wizard {
  li:first-of-type {
    a{
      border-left: none !important;

      &:hover,&:focus,&:active {
        border-left: none !important;
      }
    }
  }
  li:last-of-type {
    a{
      border-right: none !important;

      &:hover,&:focus,&:active {
        border-right: none !important;
      }
    }
  }
}
.wizard.pager .disabled > a {
  opacity: 0.5;
}


/* =============
   Notification
============= */
#toast-container>div {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  opacity: 1;
}
#toast-container>:hover {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  opacity: 0.9;
}

.toast {
  background-color: @custom;
}
.toast-success {
  background-color: fade(@success,80%);
  border: 2px solid @success;
}
.toast-error {
  background-color: fade(@danger,80%);
  border: 2px solid @danger;
}

.toast-info {
  background-color: fade(@info,80%);
  border: 2px solid @info;
}

.toast-warning {
  background-color: fade(@warning,80%);
  border: 2px solid @warning;
}



/* =========== */
/* Sweet Alert */
/* =========== */

.sweet-alert {
  p {
    font-size: 14px;
    line-height: 22px;
  }
  .icon.success  {
    .placeholder {
      border: 4px solid fade(@success,30%);
    }
    .line {
      background-color: @success;
    }
  }
  .icon.warning {
    border-color: @warning;
  }
  .icon.info {
    border-color: @info;
  }
  .btn-warning:focus,.btn-info:focus,.btn-success:focus,.btn-danger:focus,.btn-default:focus {
    box-shadow: none;
  }
}


/* =============
   Charts
============= */

/* Morris chart */
.morris-hover.morris-default-style {
    border-radius: 5px;
    padding: 10px 12px;
    background: @dark;
    border: none;
    color: @white !important;

    .morris-hover-point {
      color: @lightdark !important;
    }
}
/* Morris chart Title */
.chart-detail-list {
  li {
    margin: 0 10px;
  }
}


.pieLabel {
  div {
    font-size: 14px !important;
  }
}

.jqstooltip {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.chart {
  position: relative;
  display: inline-block;
  width: 110px;
  height: 110px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  canvas {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.chart.chart-widget-pie {
  margin-top: 5px;
  margin-bottom: 5px;
}

.percent {
  display: inline-block;
  line-height: 110px;
  z-index: 2;
  font-weight: 600;
  font-size: 18px;
  color: @dark;

  &:after {
    content: '%';
    margin-left: 0.1em;
    font-size: .8em;
  }
}

/* Flot chart */
#flotTip {
  padding: 8px 12px;
  background-color: @dark;
  z-index: 100;
  color: @white;
  opacity: 0.9;
  font-size: 13px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.legend {
  table{
    background-color: @lightdark;
  }
  tr {
   height: 22px;
  }
}
.legendLabel {
    padding-left: 5px !important;
    line-height: 10px;
    padding-right: 10px;
}

/* Sparkline chart */
.jqstooltip {
  background-color: @dark !important;
  padding: 5px 10px !important;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  border-color: @dark !important;
}
.jqsfield {
  font-size: 12px !important;
  line-height: 18px !important;
}


/* Chartist chart */
.ct-golden-section:before {
    float: none;
}
.ct-chart {

  max-height: 300px;

  .ct-label {
    fill: #a3afb7;
    color: #a3afb7;
    font-size: 12px;
    line-height: 1;
  }
}
.ct-grid {
    stroke: fade(@dark,15%);
}
.ct-chart.simple-pie-chart-chartist {
  .ct-label {
    color: @white;
    fill: @white;
    font-size: 16px;
  }
}
.ct-chart .ct-series.ct-series-a .ct-bar, .ct-chart .ct-series.ct-series-a .ct-line, .ct-chart .ct-series.ct-series-a .ct-point, .ct-chart .ct-series.ct-series-a .ct-slice-donut {
    stroke: @custom;
}
.ct-chart .ct-series.ct-series-b .ct-bar, .ct-chart .ct-series.ct-series-b .ct-line, .ct-chart .ct-series.ct-series-b .ct-point, .ct-chart .ct-series.ct-series-b .ct-slice-donut {
    stroke: @info;
}
.ct-chart .ct-series.ct-series-c .ct-bar, .ct-chart .ct-series.ct-series-c .ct-line, .ct-chart .ct-series.ct-series-c .ct-point, .ct-chart .ct-series.ct-series-c .ct-slice-donut {
    stroke: darken(@lightdark,10%);
}
.ct-chart .ct-series.ct-series-d .ct-bar, .ct-chart .ct-series.ct-series-d .ct-line, .ct-chart .ct-series.ct-series-d .ct-point, .ct-chart .ct-series.ct-series-d .ct-slice-donut {
    stroke: @success;
}
.ct-chart .ct-series.ct-series-e .ct-bar, .ct-chart .ct-series.ct-series-e .ct-line, .ct-chart .ct-series.ct-series-e .ct-point, .ct-chart .ct-series.ct-series-e .ct-slice-donut {
    stroke: @dark;
}
.ct-chart .ct-series.ct-series-f .ct-bar, .ct-chart .ct-series.ct-series-f .ct-line, .ct-chart .ct-series.ct-series-f .ct-point, .ct-chart .ct-series.ct-series-f .ct-slice-donut {
    stroke: #90caf9;
}
.ct-chart .ct-series.ct-series-g .ct-bar, .ct-chart .ct-series.ct-series-g .ct-line, .ct-chart .ct-series.ct-series-g .ct-point, .ct-chart .ct-series.ct-series-g .ct-slice-donut {
    stroke: @primary;
}
.ct-series-a .ct-area, .ct-series-a .ct-slice-pie {
    fill: @custom;
}
.ct-series-b .ct-area, .ct-series-b .ct-slice-pie {
    fill: @info;
}
.ct-series-c .ct-area, .ct-series-c .ct-slice-pie {
    fill: darken(@lightdark,10%);
}
.ct-series-d .ct-area, .ct-series-d .ct-slice-pie {
    fill: @success;
}
.chartist-tooltip {
  position: absolute;
  display: inline-block;
  opacity: 0;
  min-width: 10px;
  padding: 2px 10px;
  .border-radius(3px);
  background: @dark;
  color: @white;
  text-align: center;
  pointer-events: none;
  z-index: 1;
  -webkit-transition: opacity .2s linear;
  -moz-transition: opacity .2s linear;
  -o-transition: opacity .2s linear;
  transition: opacity .2s linear;
}

.chartist-tooltip.tooltip-show {
  opacity: 1;
}

/* Circliful charts */
.circliful-chart {
  margin: 0 auto;
}
.circle-text, .circle-info, .circle-text-half, .circle-info-half {
    font-size: 12px;
    font-weight: 600;
}


/* =============
   Maps
============= */

.gmaps, .gmaps-panaroma {
  height: 300px;
  background: @light;
  border-radius: 3px;
}

.gmaps-overlay {
  display: block;
  text-align: center;
  color: @white;
  font-size: 16px;
  line-height: 40px;
  background: @custom;
  border-radius: 4px;
  padding: 10px 20px;
}

.gmaps-overlay_arrow {
  left: 50%;
  margin-left: -16px;
  width: 0;
  height: 0;
  position: absolute;
}

.gmaps-overlay_arrow.above {
  bottom: -15px;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  border-top: 16px solid @custom;
}

.gmaps-overlay_arrow.below {
  top: -15px;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  border-bottom: 16px solid @custom;
}

.jvectormap-zoomin, .jvectormap-zoomout {
  width: 10px;
  height: 10px;
  line-height: 10px;
}
.jvectormap-zoomout {
    top: 40px;
}





/* =============
   Accounts pages
============= */

.wrapper-page {
  .card-box {
    margin: 30px auto;
    position: relative;
    max-width: 420px;
  }
}
.logo-alt-box {
  margin-top: 6%;

  .logo {
    float: none;
  }
}

.user-thumb {
  position: relative;
  z-index: 999;
  img {
    height: 88px;
    margin: 0 auto;
    width: 88px;
  }
}

.ex-page-content {
  .text-error {
    color: @custom;
    text-shadow: fade(@custom,30%) 5px 1px;
    font-size: 98px;
    font-weight: 700;
    line-height: 150px;

    i {
      font-size: 78px;
      padding: 0 10px;
    }
  }
}


