

@custom: #57c5a5;


// Color variables

@white: #ffffff;

@default: #ebebec;
@primary: #4667cc;
@success: #3ec845;
@info: #45b0e2;
@warning: #fbca35;
@danger: #e96154;
@purple: #aa81f3;
@pink: #ff8acc;
@inverse: #60667a;
@muted: #9a9da0;
@light: #eeeeee;
@dark: #435966;
@lightdark3: #333333;
@lightdark4: #444444;
@lightdark5: #555555;
@lightdark7: #797979;
@light5: #ebeff2;
@light3: #f3f3f3;
@light9: #f9f9f9;
@light-alt: #fafafa;
@lightdark-alt: #cccccc;
@lightdark: #f5f5f5;
@lightgray: #7a8c9a;


// Width variables
@width: 100%;

// Height variables
@height: 100%;

//Font variables
@font-primary: 'Roboto', sans-serif;
@font-secondary:  'Karla', sans-serif;
